# Gradle files
.gradle/
build/
/*/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Local configuration
local.properties

# Log files
*.log

# Output files (APKs, AARs)
*.apk
*.aar

# Temporary files
*.swp
*~
.DS_Store

# Captures
captures/

# External Native Build
.externalNativeBuild/
.cxx/
